body {
    font-family: 'Creato Display', sans-serif;
    background-color: #f9f8f6;
    color: #333;
    margin: 0;
    padding: 0;
    line-height: 1.8;
  }

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 5rem 2rem;
  }

  h1 {
    font-family: 'Creato', serif;
    font-size: 2.5rem;
    color: #3b3a36;
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
  }

  h2 {
    font-family: 'Creato', serif;
    font-size: 1.4rem;
    color: #5a534a;
    margin-top: 3rem;
    margin-bottom: 1rem;
    border-left: 4px solid #c5b493;
    padding-left: 0.8rem;
  }

  p, li {
    font-size: 1.05rem;
    color: #555;
    margin-bottom: 1rem;
  }

  ul {
    padding-left: 2rem;
    list-style-type: disc;
  }

  footer {
    text-align: center;
    font-size: 0.9rem;
    color: #aaa;
    margin-top: 4rem;
    padding-bottom: 2rem;
  }

  @media (max-width: 768px) {
    .container {
      padding: 3rem 1.5rem;
    }

    h1 {
      font-size: 2rem;
    }

    h2 {
      font-size: 1.2rem;
    }

    p, li {
      font-size: 1rem;
    }
  }

  footer a {
    display: inline-block;
    margin-top: 0.5rem;
    font-size: 0.95rem;
    color: #6cacaf;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  footer a:hover {
    color: #3c7073;
  }


  .breadcrumb {
max-width: 1000px;
margin: 2rem auto 0;
padding: 0 2rem;
text-align: left;
}

.breadcrumb a {
font-size: 0.95rem;
color: #3c7073;
text-decoration: none;
transition: color 0.3s ease;
}

.breadcrumb a:hover {
color: #3c7073;
}

/* Media Query per schermi più piccoli */
@media (max-width: 768px) {
.breadcrumb {
margin: 1.5rem auto;
padding: 0 1.5rem;
}

.breadcrumb a {
font-size: 0.9rem;
}
}